<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ברכות לראש השנה</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/MDB-Free_4.8.10/css/mdb.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.71">

    {% block head %}
    {% endblock %}
</head>
<body bgcolor="#FFCAD9" style="background-color: #fffcad">
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="collapse navbar-collapse font-weight-bold text-center" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">דף הבית</a>
            </li>
        </ul>
        <img src="/static/images/icon.png" class="img-fluid" style="width: 20%; height: 20%;"/>
    </div>
</nav>
<script>
</script>
{% block body %}
{% endblock %}
</body>
</html>
