{% extends "includes/page_template.html" %}

{% block head %}
    <script src="/static/js/gif-frames.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Heebo' rel='stylesheet'>
{% endblock %}

{% block body %}
    <br/>
    <div id="container"></div>

    <form method="post" action="/result">
        <input type="hidden" value="asdf"/>
        <div class="container justify-content-center">
            <h1 class="display-3 text-center" dir="rtl">עריכת הקובץ:</h1>
            <hr/>
            <div class="row justify-content-center">
                <div class="mr-md-5">
                    <img id="animation" width="500" height="360"
                         src="/static/custom-blessing-gifts/{{ file }}"/>
                    <input id="animationUrl" name="animationUrl" type="hidden"
                           value="/static/custom-blessing-gifts/{{ file }}"/>
                </div>
                <div class="col-md-sm mt-3" dir="rtl">
                    <div class="form-group">
                        <label class="float-right">שם השולח:</label>
                        <input type="text" class="form-control" id="sender" maxlength="20"/>
                    </div>
                    <div class="form-group">
                        <label class="float-right">שם המקבל:</label>
                        <input type="text" class="form-control" id="receiver" maxlength="20" required/>
                    </div>
                    <div class="form-group text-center">
                        <button id="next" class="btn btn-primary center-block">
                            <i class="glyphicon text-white glyphicon-floppy-disk"></i>הבא
                        </button>
                        <button type="button" id="update" class="btn btn-primary center-block">
                            <i class="glyphicon glyphicon-floppy-disk"></i>עדכן והצג
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script src="/static/js/gif.js-master/dist/gif.js"></script>
    <script src="/static/js/gif.js-master/dist/gif.worker.js"></script>

    <script>
        //$("#receiver").on('input', inputUpdate);
        //$("#sender").on('input', inputUpdate);
        $("#update").on('click', function () {
            var isGif = "{{ file }}".split(".")[1] == "gif";
            if (isGif) {
                gifUpdate();
            } else {
                var img = new Image();
                img.crossOrigin = "anonymous";
                img.width = 500;
                img.height = 360;
                img.onload = function () {
                    var imgCanvas = $("<canvas></canvas>")[0];
                    var ctx = imgCanvas.getContext("2d");
                    imgCanvas.width = img.width;
                    imgCanvas.height = img.height;
                    ctx.drawImage(img, 0, 0, img.width, img.height);
                    imgCanvas = addTextToCanvas(imgCanvas);
                    var imageWithTextUrl = imgCanvas.toDataURL();
                    $("#animation").attr("src", imageWithTextUrl);
                    $("#animationUrl").val(imageWithTextUrl);
                };
                img.src = "/static/custom-blessing-gifts/{{ file }}";
            }
        });

        function gifUpdate() {

            gifFrames({
                url: '/static/custom-blessing-gifts/{{ file }}',
                frames: 'all',
                outputType: 'canvas',
                cumulative: true
            })
                .then(function (frameData) {
                    var newGif = new GIF({
                        workers: frameData.length,
                        workerScript: "/static/js/gif.js-master/dist/gif.worker.js",
                        width: frameData[0].frameInfo.width,
                        height: frameData[0].frameInfo.height
                    });

                    for (frame of frameData) {
                        var canvasWithText = addTextToCanvas(frame.getImage());
                        newGif.addFrame(canvasWithText, {delay: frame.delay});
                    }

                    newGif.on('finished', function (blob) {
                        var blobUrl = URL.createObjectURL(blob);
                        var blobId = blobUrl.split("/")[3];
                        $("#animation").attr("src", blobUrl);
                        $("#animationUrl").val(blobUrl);
                    });
                    newGif.render();
                }).catch(console.error.bind(console));
        }

        function addTextToCanvas(canvas) {
            var ctx = canvas.getContext("2d");
            var sender = $("#sender").val();
            var receiver = $("#receiver").val();
            ctx.font = "40px Heebo";
            ctx.textAlign = "right";
            ctx.direction = "rtl";
            ctx.fillText(receiver, canvas.width / 1.08, 80);
            ctx.font = "30px Heebo";
            ctx.textAlign = "right";
            ctx.direction = "rtl";
            ctx.fillText(sender, canvas.width / 1.2, canvas.height - 65);
            return canvas;
        }
    </script>



    <script>

    </script>
{% endblock %}
